:root {
    /* COLORS */
    --roxo-topo: #AF68E7;
    --roxo: #A168E9;
    --roxo-centro: #8661E4;
    --azul: #7164E8;
    --azulao: #6361E8;

    /* FONT */
    --font-default: Arial, sans-serif;
}